html, body, #index, #index > div, .react-codemirror2 {
    height: 100%;
}

#index .CodeMirror {
    background: none;
    height: 100%;
    font-size: 0.75rem;
}

#index .CodeMirror pre {
    word-break: break-all;
}

.MuiSnackbarContent-message {
    font-size: 0.8rem;
}
